// 宽 高 字体
$template-number:10px;
$percent:100%;
//左右
$template-lefts:left;
$template-rights:right;
$centers:center;
$tops:top;
//定位
$template-relatives:relative;
$absolutes:absolute;
$autos:auto;
//无
$template-nones:none;
$zeros:0;
$repeats:no-repeat;
$transparents:transparent;
//线
$solids:solid;
//状态
$inlines:inline;
$blocks:block;
$inlines-blocks:inline-block;
$pointers:pointer;
$boths:both;
$hiddens:hidden;
$bolds:bold;
//颜色
$colors-d:#ddd;
$colors-e:#eee;
$colors_6:#666;
$colors_e2b:#e2bd00;
$colors_f:#fff;
$colors_9:#999;
$colors_c:#ccc;
$colors_3:#333;
$colors_35b:#35b558;
$colors_2d8:#2d85ca;
$colors_34b:#34b34f;
$colors_2e8:#2e85c8;
$colors_328:#3287c8;
$colors_ff5:#ff5c00;
$colors_fdd:#fddeca;
$colors_f5f:#f5f5f5;
$colors_328:#3288cb;
$colors_f3f:#f3fff6;
$colors_41b:#000;



.body{
	border: $template-number/10 $solids $colors-d;
}


































































